﻿<!doctype html>
<html>
<head>
    <title>Luach Project Daily Info</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
        html, body { font-family: Century Gothic; font-size: 8.5pt; color: #696969; margin: 0; padding: 0; }
        .seven { font-size: 7.3pt; }
        .eight { font-size: 8pt; }
        .nine { font-size: 9pt; }
        .bold { font-weight: bold; }
        .reg { font-weight: normal; }
        .italic { font-style: italic; }
        .padWidth { padding: 0 5pt; }
        .padBoth { padding: 3pt 5pt; }
        .royalBlue { color: #4169E1; }
        .lightSteelBlue { color: #B0C4DE; }
        .steelBlue { color: #4682B4; }
        .lightSteelBlueBG { background-color: #B0C4DE; }
        .rosyBrown { color: #BC8F8F; }
        .crimson { color: #DC143C; }
        .cornFlowerBlue { color: #6495ED; }
        .purpleoid { color: #645A78; }
        .ghostWhite { color: #F8F8FF; }
        .wide { width: 120pt; }
        .narrow { width: 45pt; }
        .medium { width: 100pt; }
        .tahoma { font-family: Tahoma; }
        table { width: 95%; border: 0; margin: 5pt 0 0 5pt; }
        td { vertical-align: bottom; padding: 0; }
            td span { background-image: none; background-color: #FFFFFF; padding: 0 8pt 0 0; }
        tr { background: bottom url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEX////////////b29v////R0dHGNLmHAAAAA3RSTlMAPRn09SSgAAAAIElEQVR4XmNgYGBgYHBhYGAJdmBgMXVgYHRRYGBgYAAAE6MBujCyjfsAAAAASUVORK5CYII=) repeat-x; }
        .nobg { background-image: none; background-color: #FFFFFF; padding: 0 0 0 4pt; }
    </style>
</head>
<body>
    {{BODY}}
</body>
</html>